entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

api:
  dashboard: true

certificatesResolvers:
  myresolver:
    acme:
      email: "webmaster@midoctor24h.com"
      storage: "/letsencrypt/acme.json"
      httpChallenge:
        entryPoint: web