entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  mysql-port:
    address: ":13306"

providers:
  docker:
    exposedByDefault: false

api:
  dashboard: true
  insecure: true

certificatesResolvers:
  myresolver:
    acme:
      email: "test@mail.com"
      storage: "/letsencrypt/acme.json"
      httpChallenge:
        entryPoint: web

log:
  level: INFO